############################
# Visual Studio temporary files
############################
.vs/
*.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

############################
# Build Results
############################
bin/
obj/
Debug/
Release/
x64/
x86/
build/
[Bb]uild/
[Ll]ogs/

############################
# ASP.NET Core Output
############################
wwwroot/lib/
wwwroot/dist/
wwwroot/node_modules/

############################
# NuGet packages
############################
*.nupkg
*.snupkg
packages/
.nuget/

############################
# Entity Framework
############################
*Migrations/
*.Database.dll

############################
# Logs & Dumps
############################
*.log
*.tlog
*.dmp

############################
# JSON layout files (VS internal)
############################
DocumentLayout.json
*.v9.bin
*.vsidx

############################
# Cache
############################
_ReSharper*/
*.[Rr]e[Ss]harper
JetBrains/
*.DotSettings.user
*.cache

############################
# Others
############################
*.bak
*.tmp
*.temp
*.lock
*.rsuser
*.dbmdl
*.jfm

############################
# Rider
############################
.idea/
*.sln.iml

############################
# Node
############################
node_modules/
npm-debug.log
yarn-error.log
